<div class="container login">
    <div class="card col-6 cardsBorder">
      <div class="card-header card-header-dashboard-style">
        <h2>Chat</h2>
      </div>
      <div class="card-body">
        <h5 class="card-title">Escribe tu Mensaje</h5>
          <div class="row" style="padding: 0px 0px 0px 5px;">    
      
      <div>
        <input id="chatbox">
      </div>
      <div id="messageLogs"  class="col-10">
        Cargando...
      </div>
    </div>
      </div>
    </div>
</div>  

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/indexChat.js"></script> 