<div>
  <h4>LISTADO DE PRODUCTOS POR WEBSOCKETS</h4>
  {{#each products}}
    <div>
      <p>ID: {{this.id}}, Titulo: {{this.title}}</p>
    </div>
  {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>