
.login{
  text-align: -moz-center;
  text-align: -webkit-center;
  padding-top: 30vh;
}
.register{
  text-align: -moz-center;
  text-align: -webkit-center;
  padding-top: 10vh;
}

/*HANDLEBARS PRODUCTFROMCART*/
#cart-product-list{
  border-left: 2px #198754 solid ;
  padding:3px 25px 3px 10px;
  background-color:#19191a
}

.titleTitle{
  color: #fff;
  text-align: center
}
.titleColor{
  color: #198754;
  text-align: center
}
.divCont{
  background-color: #212529;
  height: 100vh;
}

.filterText{
  color: #fff;
}
/**/


.card-header-dashboard{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

