<div id="">  
  <div class="row" style="padding: 0px 0px 0px 5px;">    
    <div class="col-12" style="background-color: #212529;">
      <p>pronto</p>
      <div>
        <input id="chatbox">
      </div>
      <div>
        <p id="messageLogs"></p>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/indexChat.js"></script> 