<div id="productList">  
  <div class="row" style="padding: 0px 0px 0px 5px;">    
    <div class="col-12" style="background-color: #212529;">

    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script> 