
<div class="">
  <div class="container login">
    <div class="card col-12 cardsBorder">
      <div class="card-header card-header-dashboard card-header-dashboard-style">
        <h3 class="">Dashboard</h3>        
        <div>
          Bienvenido, {{user.firstName }}
          <br>
          <a href='/auth/perfil' class="btn btn-outline-success btn-sm">PERFIL</a> 
          <a href='/auth/logout' class="btn btn-outline-danger btn-sm">SALIR</a>
        </div>        
      </div>
      <div class="card-body card-body-style">
        <h6 class="card-title text-body-secondary ">Acciones a realizar.</h6>
        <div class="card-body-dashboard">
          <div class="card cardsBorder-dashboard" style="width: 18rem;">
            <div class="card-body  ">
              <h5 class="card-title">PRODUCTOS</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Administradores / Premium</h6>
              <p class="card-text text-body-secondary">Opciones de Productos.</p>
              <a href="/realTimeProducts" class="card-link btn-sm btn btn-outline-warning">Agregar/Modificar</a>
            </div>
          </div>        
          <div class="card cardsBorder-dashboard" style="width: 18rem;">
            <div class="card-body  ">
              <h5 class="card-title">USUARIOS</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Administradores</h6>
              <p class="card-text text-body-secondary">Opciones de Usuarios.</p>
              <a href="/userList" class="card-link btn-sm btn btn-outline-warning">Agregar/Modificar</a>
            </div>
          </div>
          <div class="card cardsBorder-dashboard" style="width: 18rem;">
            <div class="card-body  ">
              <h5 class="card-title">CHAT</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Para Usuarios</h6>
              <p class="card-text text-body-secondary">Chat para chatear los usarios.</p>
              <a href="/chat" class="card-link btn-sm btn btn-outline-warning">Go Chat</a>
            </div>
          </div>            
          <div class="card cardsBorder-dashboard" style="width: 18rem;">
            <div class="card-body  ">
              <h5 class="card-title">TIENDITA</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">"La Tienda"</h6>
              <p class="card-text text-body-secondary">Lo que seria la tienda para cumplir.</p>
              <a href="/productsToCart" class="card-link btn-sm btn btn-outline-warning">TIENDA</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>