<div class="container login">
    <div class="card col-6 cardsBorder">
        <h1>Algo salió mal... :(</h1>
        {{error}}
    </div>
    <br>
    <a href="javascript:history.back()" class="btn btn-outline-secondary btn-sm"> Volver </a>
</div>  
