<div class="container login">
    <div class="card col-6 cardsBorder">
        <h1>{{title}}</h1>
        {{message}}
    </div>
    <br>
    <a href="javascript:history.back()" class="btn btn-outline-secondary btn-sm"> Volver </a>
</div>  
