<div class="">
  <div class="container login">
    <div class="card col-5 cardsBorder">
      <div class="card-header card-header-dashboard-style ">
        <h2>Restablece tu Password</h2>
      </div>
      <div class="card-body">
        <h5 class="card-title">La nueva contraseña debe ser distinta a la contraseña actual.</h5>
        <div class="col-8">
          <form action='/auth/changePassword/{{userToken}}' method='POST'>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text input-group-text-style" >**</span>
              </div>
              <input type="password" class="form-control imputForms" name='password' placeholder='Password' aria-label="Password" aria-describedby="basic-addon2">
            </div>            
            <input class="btn btn-sm  btn-outline-warning"type='submit' value='Cambiar Password' />
          </form>
        </div>
      </div>
    </div>
  </div>  
</div>