<div class="">
  <div class="container login">
    <div class="card col-5 cardsBorder">
      <div class="card-header card-header-dashboard-style ">
        <h2>Recuperar Password</h2>
      </div>
      <div class="card-body">
        <h5 class="card-title">Ingresa email para recuperar la contraseña.</h5>
        <div class="col-8">
          <form action='/auth/recoveryPassword' method='POST'>

            <div class="input-group mb-3 ">
              <div class="input-group-prepend">
                <span class="input-group-text input-group-text-style" >@</span>
              </div>
              <input type="email" class="form-control imputForms" name='email' placeholder='Email' aria-label="Email" >
            </div>
            <input class="btn btn-sm  btn-outline-warning"type='submit' value='Enviar mail de recuperacion.' />
          </form>
        </div>
      </div>
    </div>
  </div>  
</div>