<div class="">
  <div class="container register">
    <div class="card col-6 cardsBorder">
      <div class="card-header card-header-dashboard-style ">
        <h2>Registro de Usuario</h2>
      </div>
      <div class="card-body">
        <h5 class="card-title">Completa el formulario de registro.</h5>
        <div class="col-12">
          <form action='/auth/register' method='POST'>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text input-group-text-style" id="basic-addon1">Nombre</span>
              </div>
              <input type="text" class="form-control imputForms" name='firstName' placeholder='Nombre' aria-label="Nombre" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text input-group-text-style" id="basic-addon1">Apellido</span>
              </div>
              <input type="text" class="form-control imputForms" name='lastName' placeholder='Apellido' aria-label="Apellido" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text input-group-text-style" id="basic-addon1">Edad</span>
              </div>
              <input type="text" class="form-control imputForms" name='age' placeholder='Edad' aria-label="Edad" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text input-group-text-style" id="basic-addon1">Email</span>
              </div>
              <input type="text" class="form-control imputForms" name='email' placeholder='Email' aria-label="Email" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text input-group-text-style" id="basic-addon2">**</span>
              </div>
              <input type="password" class="form-control imputForms" name='password' placeholder='Password' aria-label="Password" aria-describedby="basic-addon2">
            </div>
            <input class="btn btn-sm  btn-outline-warning"type='submit' value='Registrarse' />
            {{!-- <a href='/auth/login'>ya tengo una cuenta!</a>             --}}
          </form>
          
        </div>
      </div>
    </div>
  </div>  
</div>